.image10{
    width: 100%;
    height:30vh;
    background-image: url("https://www.brabus.com/_Resources/Persistent/3/4/2/8/3428198f7133d9020cb445d767677214ed3e8224/BRABUS%20Newsletter%20Teaser%20%285%29.png");
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    .image10div1{
    width: 350px;
    height:40px;
    display: flex;
    .div101{
        width:50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color:white;
    }
    .div102{
        width:50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: white;
        color:black;
        background: white;
        transition: 0.3s;
        &:hover{
         background:#b70826;
        color: white;
        cursor: pointer;
        }
    }
    }

}