.image1{
    width: 100%;
    height:100vh;
    background-image: url("https://www.brabus.com/_Resources/Persistent/4/7/f/2/47f2b164e9505a7d08286e43c6cf1a0dc6abdafd/sn_doku_kinoplakat_querformat_v2.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    display: flex;
    justify-content: center;
    align-items: end;
    div{
     width:180px;
     height: 40px;
     margin-bottom:100px;
     background:white;
     color:black;
     display: flex;
     justify-content: center;
     align-items: center;
     transition: 0.3s;
     &:hover{
        cursor: pointer;
        color:white;
        background:#b70826;
     }
    }
    a{
        width: 100%;
        height:100vh;
        display: flex;
        justify-content: center;
        align-items: end;
    }
}
.exclusive{
    width:100%;
    height:20vh;
    background:whitesmoke;
    color:black;
    display: flex;
    justify-content: start;
    align-items: center;
    font-weight: 200;
    line-height: 1.5;
    div{
        width:50%;
        margin-left:10%;
        font-size: 30px;
    }
    p{
        font-size: 25px;

    }
}